header{
    background-color: var(--color-bg-secondary);
    height: 70px;
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav img{
    width: 30px;
}

.nav-links-container{
    display: flex;
    align-items: center;
}

.nv-white{
    color: var(--color-font-primary);
}

.nv-white:hover{
    color: var(--color-font-nav-links-hover);
    transition: 0.5s;
}

