@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --color-bg-primary: #FFF;
  --color-bg-secondary: #2D28FF;
  --color-bg-tertiary: #C7C7C7;

  --color-font-primary: #FFF;
  --color-font-secondary: #000;

  --color-font-nav-links-hover: #c9c9c9;
  --color-font-nav-links-secondary-hover: #252525;

}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html,body{
  background-color: var(--color-bg-primary);
}

a, a:hover{
  text-decoration: none;
  color: unset;
}

main{
  padding: 20px;
}

.container{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.mt-20{
  margin-top: 20px;
}

.nav-links{
  color: var(--color-font-primary);
  margin-right: 20px;
  font-size: 16px;
  font-weight: 400;
}

.nav-links:hover{
  color: var(--color-font-nav-links-hover);
  transition: 0.5s;
}
