@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --color-bg-primary: #FFF;
  --color-bg-secondary: #2D28FF;
  --color-bg-tertiary: #C7C7C7;

  --color-font-primary: #FFF;
  --color-font-secondary: #000;

}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html,body{
  background-color: var(--color-bg-primary);
}

a, a:hover{
  text-decoration: none;
  color: unset;
}

.container{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}